# 패키지 다운로드

In [1]:
# pip install xarray

Requirement already satisfied: xarray in c:\users\digital1\anaconda3\lib\site-packages (0.20.1)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy>=1.18 in c:\users\digital1\anaconda3\lib\site-packages (from xarray) (1.26.4)
Requirement already satisfied: pandas>=1.1 in c:\users\digital1\anaconda3\lib\site-packages (from xarray) (1.4.4)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\digital1\anaconda3\lib\site-packages (from pandas>=1.1->xarray) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\digital1\anaconda3\lib\site-packages (from pandas>=1.1->xarray) (2022.1)
Requirement already satisfied: six>=1.5 in c:\users\digital1\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas>=1.1->xarray) (1.16.0)

# 패키지 로딩

In [2]:
import xarray as xr
import pandas as pd

# 종속변수(SCTR) 전처리

## nc -> csv 변환

In [7]:
ds = xr.open_dataset('./data/EN.4.2.2_D20_SCTR_f.nc')

df = ds.D20_SCTR.to_dataframe()

df.reset_index(inplace=True)

df.to_csv('./output/SCTR.csv', index=False)

ds.close()

# 종속변수 불러오기

In [9]:
sctr = pd.read_csv("./output/SCTR.csv")

sctr["TIME1"] = pd.to_datetime(sctr["TIME1"])

sctr["TIME1"] = sctr["TIME1"].dt.to_period('M').dt.to_timestamp()

sctr

         TIME1    D20_SCTR
0   1991-01-01   54.960640
1   1991-02-01   59.899442
2   1991-03-01   70.225124
3   1991-04-01   67.375125
4   1991-05-01   63.783066
..         ...         ...
395 2023-12-01  124.376897
396 2024-01-01  117.300079
397 2024-02-01  121.968669
398 2024-03-01  118.355688
399 2024-04-01  108.767079

[400 rows x 2 columns]

# 독립변수 전처리

## IOD

### txt -> csv 변환

In [17]:
IOD = pd.read_csv("./data/IOD.txt", sep="\t", encoding="cp949")

IOD['Date'] = pd.to_datetime(IOD['Year'].astype(str) + '-' + IOD['Month'].astype(str) + '-01')

IOD = IOD.drop(["Year", "Month"], axis = 1)

IOD = IOD[["Date", "WTIO", "SETIO"]]

IOD.to_csv("./output/IOD.csv", encoding="utf-8-sig")

## ONI

### txt -> csv 변환

In [25]:
ONI = pd.read_csv("./data/ONI.txt", sep="\t", encoding="cp949")

ONI['Date'] = pd.to_datetime(ONI['Date'].astype(str) + '-01')

ONI.to_csv("./output/ONI.csv", encoding="utf-8-sig")

          Date   ONI
0   1991-01-01  0.41
1   1991-02-01  0.26
2   1991-03-01  0.22
3   1991-04-01  0.26
4   1991-05-01  0.45
..         ...   ...
396 2024-01-01  1.79
397 2024-02-01  1.49
398 2024-03-01  1.14
399 2024-04-01  0.71
400 2024-05-01  0.39

[401 rows x 2 columns]